
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyCheeseShop.Context
@using MyCheeseShop.Model
@inject CheeseProvider CheeseProvider
@inject NavigationManager NavigationManager

<h3>Cheese QuickGrid</h3>

@if (Cheeses == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <QuickGrid Theme="bootstrap" Class="table" Items="@FilteredCheeses" Pagination="@pagination">
            <PropertyColumn Property="@(c => c.Id)" Sortable="true" />
            <PropertyColumn Property="@(c => c.Name)" Sortable="true">
                <ColumnOptions>
                    <div class="search-box">
                        <input type="search" autofocus @bind="nameSearch" @bind:event="oninput" placeholder="Cheese name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <PropertyColumn Property="@(c => c.Type)" Sortable="true" />
            <PropertyColumn Property="@(c => c.Description)" Sortable="true" />
            <PropertyColumn Property="@(c => c.Strength)" Sortable="true" />
            <PropertyColumn Property="@(c => c.Price)" Sortable="true" />
        </QuickGrid>
        <Paginator State="@pagination" />
    </div>
}




<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var cheese in Cheeses)
    {
        <div class="col">
            <div class="card h-100">
                <img src="/img/cheeses/@cheese.ImageUrl" class="card-img-top p-1" alt="@cheese.Name" onerror="this.onerror = null; this.src='/img/no_cheese.png'">
                <div class="card-body d-flex flex-column">
                    <h5>
                        <span class="badge badge bg-primary">@cheese.Type</span>
                        <span class="badge @GetStrengthBadgeColor(cheese.Strength)">@cheese.Strength</span>
                    </h5>
                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                        <h5 class="card-title">@cheese.Name</h5>
                        <h5><span class="badge bg-danger">@cheese.Price.ToString("C")</span></h5>
                    </div>
                    <p class="card-text">@cheese.Description</p>
                    <div class="mt-auto"></div>
                </div>
            </div>
        </div>
    }
</div>
















@code {
    private EditContext editContext;
    private Cheese model;
    private IQueryable<Cheese>? cheeses;
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private string nameSearch;

    public IQueryable<Cheese>? Cheeses { get; set; }

    private IQueryable<Cheese>? FilteredCheeses
    {
        get
        {
            IQueryable<Cheese>? filtered = Cheeses;
            if (!string.IsNullOrEmpty(nameSearch))
            {
                filtered = filtered?.Where(c => c.Name.Contains(nameSearch, StringComparison.CurrentCultureIgnoreCase));
            }
            return filtered;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetCheeses();
    }

    private async Task GetCheeses()
    {
        Cheeses = (await CheeseProvider.GetAllCheesesAsync()).AsQueryable();
        model = new Cheese();
        editContext = new EditContext(model);
    }



    public string GetStrengthBadgeColor(string strength)
    {
        switch (strength.ToLower())
        {
            case "medium":
                return "badge bg-warning text-dark";
            case "mild":
                return "badge bg-success";
            case "strong":
                return "badge bg-danger";
            default:
                return "badge bg-primary";
        }
    }






}
